.d-block{
    display: block;
    background-color: crimson;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 20px;
}
.d-inline{
    display: inline;
    background-color: aqua;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 30px;
}
.d-inline-block{
    display: inline-block;
    background-color: lime;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 30px;
}

/* min & max */
.parent{
    width: 300px;
    height: 200px;
    background-color: orange;
}

.parent .min{
    min-width: 400px;
    height: 100px;
    background-color: red;
}

.parent .max{
    max-width: 400px;
    width: 350px;
    background-color: green;
    height: 100px;
}

.box{
    background-color: aqua;
    border: 1px solid black;
}

.box-px{
    width: 50px;
    height: 50px;
}

.box-view{
    width: 50vw;
    height: 50vw;
}

.box-per{
    width: 50%;
    height: 50%;
}

.rem{
    font-size: 2rem;
}
.em{
    font-size: 2em;
}

.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    cursor: pointer;
}

.rounded{
    border-radius: 10%;
    /* 단축속성 */
    border-radius: 5px 40px;
    border-radius: 5px 20px 40px;
    border-radius: 5px 20px 30px 50px;
}

.box-sizing{
    padding: 20px;
    border: 15px solid red;
    background-color: tomato;
}

.content-box{
    /* 기본값 */
    box-sizing: content-box;
}
.border-box{
    box-sizing: border-box;
}

.d-none {
    display: none;
    background-color: red;
}
.invisible {
    visibility: hidden;
    background-color: orangered;
}
.opacity-0 {
    opacity: 0;
    background-color: tomato;
}

.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.blue:hover{
    opacity: 0;
}

.square img[alt='푸']{
    width: 200px;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
    /* 넘칠 때만 스크롤 생성 */
}
.overflow-scroll{
    overflow: scroll;
    /* 넘치지 않아도 스크롤 생성 */
}
.overflow-visible{
    overflow: visible;
    /* 기본값,
    넘치는 것 넘치도록 다 보여줌 */
}