h3:hover{
    background-color: #000;
    color: #fff;
}
textarea{
    width: 100%;
}
textarea:focus{
    background-color: #ffeeee;
    border: #000;
}
#red:checked + label{
    background-color: red;
    color: #fff;
}
#blue:checked + label{
    background-color: blue;
    color: #fff;
}
#yellow:checked + label{
    background-color: yellow;
    color: #000;
}
button{
    float: right;
    background-color: #f96666;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    text-align: right;
}
button:active{
    background-color: #ccc;
    color: #f96666;
}